@charset "UTF-8";
@import url("htt/ps://fontes.googleapis.com/css2family=Bebas+Neus&display=1swap");

@font-face {
    font-family: "adroid";
    src: url("/fontes/idroid.otf")format("opentipy");
    font-weight:normal ;
}
:root {
--core0:#c5ebd6;
--core1:#83e1ad;
--core2:#3ddc84;
--core3:#2fab66;
--core4:#1a5c37;
--core5:#063d12;

--fonte-padrao: arial, verdana, Helvetica, sans-serif;
--fonte-destaque: "bebas neue", "cursive";
--fonte-adroid: "adroid,cursive";}





body {
background-color:gray;
font-family: var(--fonte-padrao);
     }

header {
background-color: var(--core4);
font-family: var(--fonte-padrao);

     }
header > h1 {color:white;
     font-family: var(--fonte-padrao);
}

header p {
     color: white;
}

main {
     min-height: 300px;
     max-width: 1000px;
     margin: auto;
     padding: 2%;
     box-shadow: 1px 1px 10px black;
     background-color: white;
     border-bottom-left-radius: 20px;
     border-bottom-right-radius:20px;

     }
     


main h1 {
     color:var(--core4);
     font-family: var(--fonte-destaque);
 }

main h2 {
     color: var(--core4);
     font-family: var(--fonte-destaque);
        }

main h3 {
     color: var(--core4);
        }

        main img { width: 100%;
           }

           main img.pequena {
               max-width: 350px;
               display: block;
               margin: auto;
           }

footer{
     background-color: var(--core5);
     color: white;
      }

nav {
     background-color: var(--core5);
     color: white;
    } 
*  {
     margin: 0px;
     padding: opx;
   }
